<div class="container">
  <h2 style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Log In</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img src="https://img.freepik.com/premium-photo/3dstyle-portrait-encapsulating-innocence-young-boy_807430-5.jpg" class="card-img-top" alt="User Image">
        <div class="card-body">
          <h5 class="card-title">Login as User</h5>
          <p class="card-text">Login as a user to access user-specific functionalities.</p>
          <a routerLink="/login/user" class="btn btn-primary">Login as User</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img src="https://img.freepik.com/premium-photo/business-manager-3d-cartoon-avatar-portrait-3d-animation-style-character-illustration_839035-102993.jpg" class="card-img-top" alt="Supervisor Image">
        <div class="card-body">
          <h5 class="card-title">Login as Supervisor</h5>
          <p class="card-text">Login as a supervisor to access supervisor-specific functionalities.</p>
          <a routerLink="/login-supervisor" class="btn btn-primary">Login as Supervisor</a>
        </div>
      </div>
    </div>
  </div>

  