.container{
    padding-top: 10%;
    background-color: rgb(227, 239, 249);
    padding: 5%;
    margin-top: 5%;
    box-shadow: 2px 5px 5px 5px rgba(0, 0, 0, 0.16);
}

#login-img{
    width: 60vh;
}

