
<div>
    <mat-toolbar>
      <button mat-icon-button aria-label="menu">
        <mat-icon>menu</mat-icon>
      </button>
      
      <a routerLink="/landing">H<sub>2</sub>O Purify</a>
      <span class="example-spacer"></span>
      
      <a routerLink="/progress">Progress</a>
      <span class="example-spacer"></span>
      
      <a routerLink="/approval">Approval</a>
      <span class="example-spacer"></span>
      
      <a routerLink="/plants">Plants</a>
      <span class="example-spacer"></span>
      
      <a routerLink="/stats">Water-Stats</a>
      <span class="example-spacer"></span>
      
      <button mat-icon-button aria-label="notification icon" [matMenuTriggerFor]="notificationsMenu">
        <mat-icon>notifications</mat-icon>
      </button>
      
      <mat-menu #notificationsMenu="matMenu" xPosition="before" yPosition="above" hasBackdrop="false"  overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button> 
      </mat-menu>
      
      <a mat-icon-button class="nav-icon"  aria-label="settings" [matMenuTriggerFor]="settingsMenu">
        <mat-icon>account_circle</mat-icon>
      </a>
      
      <mat-menu #settingsMenu="matMenu" xPosition="after" hasBackdrop="false"  overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>account_circle</mat-icon>
          <span>Profile</span>
        </button>
        
        <button mat-menu-item>
          <mat-icon>leaderboard</mat-icon>
          <span>Analytics</span>
        </button>
        
        <mat-divider></mat-divider>
        
        <button mat-menu-item>
          <mat-icon>settings</mat-icon>
          <span>Settings & Privacy</span>
        </button>
        
        <button mat-menu-item>
          <mat-icon>help</mat-icon>
          <span>Help Center</span>
        </button>
        
        <mat-divider></mat-divider>
        
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </button>
      </mat-menu>    
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>

<div class="treatment-stats-container">
    <h3>Treatment Statistics</h3>
    <div class="process-item" *ngFor="let process of treatmentProcesses">
        <h4>{{process.name}}</h4>
        <div class="process-details">
            <div class="timer">{{process.elapsedTime}}</div>
        </div>

    </div>
</div>