
<div>
    <mat-toolbar>
      <!-- <button mat-icon-button aria-label="menu">
        <mat-icon>menu</mat-icon>
      </button> -->
      
      <a routerLink="/supervisor">H<sub>2</sub>O Purify</a>
      <span class="example-spacer"></span>
      
      <a routerLink="/progress">Progress</a>
      <span class="example-spacer"></span>
      
      <a routerLink="/approval">Approval</a>
      <span class="example-spacer"></span>
      
      <a routerLink="/stats">Water-Stats</a>
      <span class="example-spacer"></span>
      
      <button mat-icon-button aria-label="notification icon" [matMenuTriggerFor]="notificationsMenu">
        <mat-icon>notifications</mat-icon>
      </button>
      
      <mat-menu #notificationsMenu="matMenu" xPosition="before" yPosition="above" hasBackdrop="false"  overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>check</mat-icon>
          <span>Request Approved</span>
        </button> 
      </mat-menu>
      
      <a mat-icon-button class="nav-icon"  aria-label="settings" [matMenuTriggerFor]="settingsMenu">
        <mat-icon>account_circle</mat-icon>
      </a>
      
      <mat-menu #settingsMenu="matMenu" xPosition="after" hasBackdrop="false"  overlapTrigger="false">
        
        <button mat-menu-item>
          <mat-icon>leaderboard</mat-icon>
          <span routerLink="/stats">Analytics</span>
        </button>
        
        <mat-divider></mat-divider>
        
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span routerLink="/login-main">Log out</span>
        </button>
      </mat-menu>    
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>

<div class="treatment-stats-container" style="display: flex; justify-content: center;">
  <canvas style="margin-left: 10%;" baseChart
  [type]="'pie'"
  [datasets]="pieChartDatasets"
  [labels]="pieChartLabels"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
  [legend]="pieChartLegend">
</canvas>
<div style="display: block; margin-left: 10%;">
  <canvas baseChart width="700" height="400"
    [type]="'line'"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [legend]="lineChartLegend">
  </canvas>
</div>

</div>